/* Styles for Admin Pages */

body {
  background-image: url("../images/canvas.png");
  height: 100%;
}

#adminlogin {
  max-width: 450px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #1f335b;
  border: 2px solid #16243f;
  color: white;
  height: 315px;
  text-align: center;
  margin-top: 10%;
}

input {
  color: black;
}

#loginblock {
  margin-top: 10%;
}

#emailpassword {
  padding: 8px;
}

#topblock {
  opacity: 1;
  background: #1f335b;
  border: 2px solid #16243f;
  font-size: 40px;
  font-family: 'Playfair Display SC', serif;
  color:white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  animation: headerframes 4s ease-in-out 0s;
  width: 100%;
}

#lowblock {
  opacity: 1;
  background: #1f335b;
  border: 2px solid #16243f;
  color:white;
  position: absolute;
  bottom:0;
  text-align: center;
  padding-top: 10px;
  animation: headerframes 4s ease-in-out 0s;
  width: 100%;
}

#footertext {
  text-align: center;
  padding-bottom: 10px;
}

#adminlink {
  color: #213759;
  text-align: center;
  font-size: 10px;
}

form#adminstuff>div.form-group {
  margin: 30px;
}

div.jumbotron {
  padding-top: 20px;
  padding-bottom:  20px;
  padding-right: 40px;
  padding-left: 40px;
  margin: 40px auto;
}

div#incomplete-alert {
  display: none;
}

div#wrong-password-alert {
  display: none;
}

div#no-password-alert {
  display: none;
}