html {
  height: 100%;
}
body {

  width: 100%;
  background-image: url("../images/birthofvenus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  animation: backgroundframes 60s ease-in-out infinite;
  
}

#topblock {
  opacity: 1;
  background: #1f335b;
  border: 2px solid #16243f;
  font-size: 40px;
  font-family: 'Playfair Display SC', serif;
  color:white;
  text-align: center;
  padding-bottom: 10px;
  animation: headerframes 4s ease-in-out 0s;
  text-shadow:
  -.05px -.05px 0 #000,
  .05px .05px 0 #000,
  .05px .05px 0 #000,
  .05px .05px 0 #000;
}

#mainblock {
  color: white;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  
}

#greetingblock {
  width: 100%;
  color: #f6f7ff;
  animation: greetingframes 2s ease-in-out 0s;
  text-shadow:
  -.05px -.05px 0 #000,
  .05px .05px 0 #000,
  .05px .05px 0 #000,
  .05px .05px 0 #000;
}
  


#searchblock {
  width: 100%;
  animation: headerframes 4s ease-in-out 0s
}

#selector {
  width: 54.5%;
  color: #1f335b;
  height: 30px;
}

#submitbutton {
  width: 21%;
  height: 45px;
  margin-top: 3%;
  background: #1f335b;
  border: 2px solid #16243f;
}

#lowblock {
  opacity: 1;
  background: #1f335b;
  border: 2px solid #16243f;
  color:white;
  position: absolute;
  bottom:0;
  text-align: center;
  padding-top: 10px;
  animation: headerframes 4s ease-in-out 0s;
  width: 100%;

}

#footertext {
  text-align: center;
  padding-bottom: 10px;
}

#adminlink {
  color: #213759;
  text-align: center;
  font-size: 10px;
}

@keyframes greetingframes{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1.0;

  }

}

@keyframes headerframes{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1.0;

  }
}

@keyframes backgroundframes{
  0%{
    background-image: url("../images/birthofvenus.jpg");
  }
  25%{
    background-image: url("../images/dutchproverbs.jpg");
  }
  50%{
    background-image: url("../images/stgeorgeandthedragon.jpg");
  }
  100%{
    background-image: url("../images/birthofvenus.jpg");
  }
}
